@import (reference) "color-scheme.less";

.unposition() {
	position: static;
	top: auto;
	bottom: auto;
	left: auto;
	right: auto;
}

html {
	height: 100%;

	background: url(/images/index-background.jpg) no-repeat center center fixed;
	background-size: cover;

	color: white;
}

@mainWidth: 30em;

.main {
	position: fixed;
	bottom: 4em;
	left: 0;
	right: 0;

	text-shadow: 2px 2px 2px black;

	.title {
		text-align: center;

		.titleEmph { color: @accent-color; }
	}

	.description {
		max-width: @mainWidth;
		margin: 2em auto;
		padding: 0.5em;

		background-color: rgba(0,0,0, 0.2);
		border-radius: 0.5em;
	}

	.bottomNav {
		position: fixed;
		bottom: 3em;
		left: 0;
		right: 0;

		text-align: center;

		& > a {
			padding: 2em;
			white-space: nowrap;

			font-style: italic;
			color: white;
		}
	}

	@media (max-width: @mainWidth) {
		.unposition();

		.bottomNav {
			.unposition();
			& > a {
				padding-top: 0;
				padding-bottom: 0;
			}
		}
	}
}

.legalGumph {
	position: fixed;
	bottom: 0;
	right: 0;

	font-size: small;
	text-align: right;
	color: gray;

	a, a:hover, a:visited {
		color: #A0A0A0;
	}

	@media (max-width: @mainWidth) {
		.unposition();

		margin-top: 2em;
		text-align: center;
	}
}
