---
layout: bare
stylesheet: cssbin/index.css
---

<div class=main>
	<h1 class=title>
		<div class=titleEmph>Southampton University</div>
		<div>Fencing Club</div>
	</h1>

	<p class=description>{{ site.description }}</p>

	<nav class=bottomNav>
		{% assign sorted_pages = site.pages | sort:"sort_order" %}
		{% for page in sorted_pages %}
		{% if page.title %}<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
		{% endfor %}
	</nav>
</div>

<footer class=legalGumph>
	<div>
		<a href="https://www.flickr.com/photos/italianmoose/16646926081/in/pool-sotonfencing">"Duncan 17"</a>
		&copy; Pete Senior
		/ <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">CC-BY-NC-SA 2.0</a>
	</div>
	<div>Website {{ site.copyright }}</div>
</footer>
