---
layout: bare
stylesheet: cssbin/index.css
---

<div class=main>
	<h1 class=title>
		<div class=titleEmph>Southampton University</div>
		<div>Fencing Club</div>
	</h1>

	<p class=description>{{ site.description }}</p>
</div>

<nav class=bottomNav>
	{% assign sorted_pages = site.pages | sort:"sort_order" %}
	{% for page in sorted_pages %}
	{% if page.title %}<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
	{% endfor %}
</nav>

<footer class=legalGumph>
	<div>Website {{ site.copyright }}</div>
	<div>
		<a href="https://commons.wikimedia.org/wiki/File:Reshetnikov_v_Dolniceanu_2013_Fencing_WCH_SMS-IN_t192032.jpg">Photo</a>
		&copy; Marie-Lan Nguyen
		/ <a href="https://commons.wikimedia.org/wiki/Main_Page">Wikimedia Commons</a>
		/ <a href="https://creativecommons.org/licenses/by/3.0/">CC-BY 3.0</a>
	</div>
</footer>
