---
layout: bare
stylesheet: cssbin/index.css
---

<div class=main>
	<h1 class=title>
		<div class=titleEmph>Southampton University</div>
		<div>Fencing Club</div>
	</h1>

	<p class=description>{{ site.description }}</p>
</div>

<nav class=bottomNav>
	{% assign sorted_pages = site.pages | sort:"sort_order" %}
	{% for page in sorted_pages %}
	{% if page.title %}<a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
	{% endfor %}
</nav>

<footer class=legalGumph>
	<div>{{ site.copyright }}</div>
	<div>TODO: background image copyright</div>
</footer>
