html {
  height: 100%;
  background: url(/images/index-background.jpg) no-repeat center center fixed;
  background-size: cover;
  color: white;
}
.main {
  position: fixed;
  bottom: 2.5em;
  left: 0;
  right: 0;
  text-shadow: 2px 2px 2px black;
}
.main .title {
  text-align: center;
}
.main .title .titleEmph {
  color: #ff1919;
}
.main .description {
  max-width: 30em;
  margin: 2em auto;
  padding: 0.5em;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}
.main .bottomNav {
  max-width: 30em;
  padding: 1em 0;
  border-width: 1px 0;
  margin: 0 auto;
  border-style: solid;
  border-color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.main .bottomNav > a {
  padding: 1em 1.5em;
  white-space: nowrap;
  font-style: italic;
  color: #ff1919;
}
.main .bottomNav > a:hover,
.main .bottomNav > a:focus {
  background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7), transparent);
  color: white;
}
@media (max-width: 30em) {
  .main {
    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
  .main .bottomNav {
    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
  }
  .main .bottomNav > a {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.legalGumph {
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: small;
  text-align: right;
  color: gray;
}
.legalGumph a,
.legalGumph a:visited {
  color: #A0A0A0;
}
.legalGumph a:hover,
.legalGumph a:focus {
  color: white;
}
@media (max-width: 30em) {
  .legalGumph {
    position: static;
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    margin-top: 2em;
    text-align: center;
  }
}
